.main__contact--form--wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input {
    width: 300px;
    height: 30px;
    padding: 10px;
    color: var(--brand-main-white);
    border-radius: 15px;
    border: 1px solid var(--brand-main-bright);
    background-color: var(--brand-main-nearly-black);
  }

  textarea {
    width: 300px;
    height: 200px;
    color: var(--brand-main-white);
    padding: 10px;
    resize: vertical;
    max-height: 400px;
    border-radius: 15px;
    border: 1px solid var(--brand-main-bright);
    background-color: var(--brand-main-nearly-black);
  }

  #submit-button {
    width: 300px;
    height: 35px;
    cursor: pointer;
    padding: 0px;
    border-radius: 15px;
    color: var(--brand-main-white);
    border: 1px solid var(--link-disabled);
    background-color: var(--brand-main-nearly-black);
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .main__contact--form--wrapper {
    input {
      width: 365px;
    }

    textarea {
      width: 365px;
    }

    #submit-button {
      width: 365px;
    }
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .main__contact--form--wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    input {
      width: 400px;
      border-radius: 0px 15px 15px 15px;
    }

    textarea {
      width: 400px;
      border-radius: 0px 15px 15px 15px;
    }

    #submit-button {
      width: 400px;
    }
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .main__contact--form--wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    div {
      display: flex;
      flex-direction: column;
      gap: 12.5px;
    }

    input {
      height: 35px;
      width: 500px;
      border-radius: 0px 15px 15px 15px;
    }

    textarea {
      width: 500px;
      border-radius: 0px 15px 15px 15px;
    }

    #submit-button {
      width: 500px;
    }
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .main__contact--form--wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    gap: 25px;

    div {
      display: flex;
      flex-direction: column;
      gap: 12.5px;
    }

    input {
      height: 35px;
      width: 500px;
      border-radius: 0px 15px 15px 15px;
    }

    textarea {
      width: 500px;
      border-radius: 0px 15px 15px 15px;
    }

    #submit-button {
      width: 500px;
    }

    label {
      font-size: 16px;
    }
  }
}
