.app__wrapper {
  .main__experience--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 1s;
    text-align: center;
    width: 100%;
    gap: 25px;

    .main__experience--imagecontainer {
      width: 300px;
      height: 300px;
      background: url("../../assets/background.webp");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .main__experience--container {
      display: flex;
      flex-direction: column;
      width: 325px;
      gap: 25px;

      h1 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      .main__experience--sect {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--link-disabled);
        border-radius: 15px;
        padding: 16px;
        line-height: 20px;
        gap: 8px;

        .main__experience--sect-images {
          display: flex;
          justify-content: space-between;
          margin-top: 12px;
          width: 100%;
          img {
            width: 260px;
            transition: ease-in-out 0.25s;
            border-radius: 15px;
          }

          img:hover {
            transform: scale(1.025);
          }
        }

        h2 {
          font-size: 16px;
          font-weight: 400;
        }

        span,
        a {
          font-size: 16px;
          color: var(--brand-main-bright);
          transition: ease-in-out 0.15s;
        }

        a:hover {
          color: var(--brand-main-white);
        }

        p {
          font-size: 14px;
          color: var(--link-disabled);
          transition: ease-in-out 0.15s;
        }

        p:hover {
          color: var(--brand-main-white);
        }
      }
    }
    /* Media Query for low resolution  Tablets, Ipads */
    @media (min-width: 481px) and (max-width: 767px) {
      .main__experience--imagecontainer {
        width: 400px;
        height: 400px;
      }

      .main__experience--container {
        flex-direction: column;
        width: 400px;

        h1 {
          font-size: 22px;
        }
        .main__experience--sect {
          padding: 20px;

          h2 {
            font-size: 16px;
          }

          span,
          a {
            font-size: 16px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    /* Media Query for Tablets Ipads portrait mode */
    @media (min-width: 768px) and (max-width: 1024px) {
      .main__experience--imagecontainer {
        margin-top: 50px;
        width: 600px;
        height: 600px;
      }

      .main__experience--container {
        margin: 35px 0px 35px 0;
        width: 600px;

        h1 {
          font-size: 24px;
        }
        .main__experience--sect {
          padding: 24px;

          h2 {
            font-size: 18px;
          }

          span,
          a {
            font-size: 18px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }

    /* Media Query for Laptops and Desktops */
    @media (min-width: 1025px) and (max-width: 1280px) {
      .main__experience--imagecontainer {
        margin-top: 50px;
        width: 600px;
        height: 600px;
      }

      .main__experience--container {
        margin: 35px 0px 35px 0;
        width: 600px;

        h1 {
          font-size: 24px;
        }
        .main__experience--sect {
          padding: 26px;

          h2 {
            font-size: 20px;
          }

          span,
          a {
            font-size: 20px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }

    /* Media Query for Large screens */
    @media (min-width: 1281px) {
      .main__experience--imagecontainer {
        margin-top: 50px;
        width: 40%;
        height: 1200px;
      }

      .main__experience--container {
        margin: 35px 0px 35px 0;
        width: 600px;

        h1 {
          font-size: 24px;
        }
        .main__experience--sect {
          padding: 26px;

          h2 {
            font-size: 18px;
          }

          span,
          a {
            font-size: 18px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
  @media (min-width: 1281px) {
    .main__experience--wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      gap: 75px;
    }
  }
}
