:root {
  // colours
  --brand-main: #8b0e0e;
  --brand-main-soft: #ffb1b1;
  --brand-main-bright: #f84848;
  --brand-main-light: #ab1010;
  --brand-main-active: #790000;
  --brand-main-dark: #460000;
  --brand-main-nearly-black: #0e0e0e;
  --brand-main-white: #ffffff;
  --link-blue: #a40404;
  --link-disabled: #767676;

  // fonts
  --base-font-size: 16px;
  --base-font-size-mobile: 14px;
  --main-font-family: Helvetica, Arial, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

// page fadein animation
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: scale(1.025);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

html {
  body {
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: var(--brand-main-nearly-black);
    // page fadein animation
    animation: fadeInAnimation ease 1.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--brand-main-white);
      font-family: var(--main-font-family);
    }

    li,
    p,
    a {
      color: var(--brand-main-white);
      font-family: var(--main-font-family);
      font-size: var(--base-font-size-mobile);
      letter-spacing: 1px;
    }

    img {
      max-width: 100%;
    }
  }
}

.app__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  // temp animation for res change
  transition: ease-in-out 0.5s;
}
