.app__wrapper {
  .main__contact--wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 12.5px 0px 25px 0px;
    height: 75vh;
    width: 100%;
    gap: 50px;

    .main__contact--text--wrapper {
      display: flex;
      flex-direction: column;
      transition: ease-in-out 1s;
      border-bottom: 1px solid var(--link-disabled);
      padding-bottom: 25px;
      width: 325px;
      gap: 14px;

      h1 {
        font-size: 37px;
        color: var(--brand-main-bright);
        font-family: var(--main-font-family);
        span {
          color: var(--brand-main-white);
        }
      }

      p {
        font-weight: 400;
        color: var(--link-disabled);
        span {
          color: var(--brand-main-white);
        }
      }
    }

    /* Media Query for low resolution  Tablets, Ipads */
    @media (min-width: 481px) and (max-width: 767px) {
      .main__contact--text--wrapper {
        width: 400px;

        h1 {
          font-size: 46px;
          span {
            font-size: 46px;
          }
        }

        h3 {
          font-size: 18px;
        }

        p {
          font-size: 18px;
          span {
            font-size: 18px;
          }
        }
      }
    }

    /* Media Query for Tablets Ipads portrait mode */
    @media (min-width: 768px) and (max-width: 1024px) {
      .main__contact--text--wrapper {
        width: 475px;

        h1 {
          font-size: 55px;
          span {
            font-size: 55px;
          }
        }

        h3 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
          span {
            font-size: 16px;
          }
        }
      }
    }

    /* Media Query for Laptops and Desktops */
    @media (min-width: 1025px) and (max-width: 1280px) {
      .main__contact--text--wrapper {
        width: 525px;

        h1 {
          font-size: 60px;
          span {
            font-size: 60px;
          }
        }

        h3 {
          font-size: 18px;
        }

        p {
          font-size: 22px;
          span {
            font-size: 22px;
          }
        }
      }
    }

    /* Media Query for Large screens */
    @media (min-width: 1281px) {
      .main__contact--text--wrapper {
        text-align: left;
        width: 565px;

        h1 {
          font-size: 70px;
          span {
            font-size: 70px;
          }
        }

        h3 {
          font-size: 18px;
        }

        p {
          font-size: 24px;
          span {
            font-size: 24px;
          }
        }
      }
    }
  }

  /* Media Query for Large screens */
  @media (min-width: 1281px) {
    .main__contact--wrapper {
      flex-direction: row;
      gap: 150px;
    }
  }
}
