.app__wrapper {
  .main__experience--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    .main__experience--container {
      display: flex;
      flex-direction: column;
      width: 325px;
      gap: 16px;

      h1 {
        font-size: 18px;
        margin-bottom: 20px;
      }
      .main__experience--sect {
        display: flex;
        flex-direction: column;
        line-height: 20px;
        gap: 8px;

        h2 {
          font-size: 14px;
          font-weight: 400;
        }

        span,
        a {
          font-size: 14px;
          color: var(--brand-main-bright);
          transition: ease-in-out 0.15s;
        }

        a:hover {
          color: var(--brand-main-white);
        }

        p {
          font-size: 12px;
          color: var(--link-disabled);
          margin-bottom: 12px;
          transition: ease-in-out 0.15s;
        }

        p:hover {
          color: var(--brand-main-white);
        }
      }
    }
    /* Media Query for low resolution  Tablets, Ipads */
    @media (min-width: 481px) and (max-width: 767px) {
      .main__experience--container {
        flex-direction: column;
        width: 400px;

        h1 {
          font-size: 22px;
        }
        .main__experience--sect {
          h2 {
            font-size: 16px;
          }

          span,
          a {
            font-size: 16px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    /* Media Query for Tablets Ipads portrait mode */
    @media (min-width: 768px) and (max-width: 1024px) {
      .main__experience--container {
        margin: 35px 0px 35px 0;
        width: 600px;

        h1 {
          font-size: 24px;
        }
        .main__experience--sect {
          h2 {
            font-size: 18px;
          }

          span,
          a {
            font-size: 18px;
          }

          p {
            font-size: 15px;
          }
        }
      }
    }

    /* Media Query for Laptops and Desktops */
    @media (min-width: 1025px) and (max-width: 1280px) {
    }

    /* Media Query for Large screens */
    @media (min-width: 1281px) {
    }
  }
}
