.main-welcome-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 36px;
    color: var(--link-disabled);
    font-family: var(--main-font-family);
    span {
      color: var(--brand-main-white);
    }
  }

  p {
    color: var(--link-disabled);
    span {
      color: var(--brand-main-light);
    }
  }

  img {
    border-radius: 15px;
    margin-top: 25px;
    width: 275px;
  }
}
