.main-welcome-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-welcome-text-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 175px;
    width: 325px;
    gap: 14px;
    h1 {
      font-size: 36px;
      color: var(--brand-main-bright);
      font-family: var(--main-font-family);
      span {
        color: var(--brand-main-white);
      }
    }

    p {
      font-weight: 400;
      color: var(--link-disabled);
      span {
        color: var(--brand-main-white);
      }
    }

    .Button {
      margin-top: 14px;
    }
  }
}
