.background-image {
  position: absolute;
  object-fit: contain;
  height: 100vh;
  width: auto;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 7%;
  text-align: right;

  .background-image img {
    height: 100%;
  }
}
